<%= render 'layouts/navbar' %>
<div class="container" id="home-page">

<div id="best-shows">
  <%= render 'image_boxes' %>
  <div class="row">
    <div class="col m8 offset-m2" id="home-welcome">Welcome to Podlist!</div>
    <div class="col m6 offset-m3" id="instructions">Search through our database
       to find a podcast episode that interests you and start a playlist.</div>
  </div>
</div>
  <div class="row">
    <form>
      <div class="form-group" id="search-box">
        <div class="input-field">
          <input type="search" id="search-box" class="form-group">
          <label for="search-box"><i class="material-icons">search</i></label>
          <i class="material-icons">close</i>
          <input class="btn btn-default pull-right" id="button-fetch" type="button" name="submit" value="Search">
        </div>
      </div>
    </form>
  </div>

  <div class="row">
    <div class="col m10 offset-m1" id="collapsed-list">
      <ul class="collapsible popout hoverable" id="episode-search-results" data-collapsible="accordion">
      </ul>
    </div>
  </div>

</div>
