<%= render 'layouts/navbar' %>
<div class="container" id="home-page">
  <div id="best-shows">
    <%= react_component('HomeShows', shows: @home_shows) %>
  </div>

  <div class="row">
    <div class="col m10 offset-m1" id="collapsed-list">
      <ul class="collapsible popout hoverable" id="episode-search-results" data-collapsible="accordion">
      </ul>
    </div>
  </div>
</div>
