<%= render 'layouts/navbar' %>
<div class="container" id="home-page">

  <div class="row">
    <div class="col s8 offset-2">
      <hr>
      <div class="form-group">
        <input class="form-control" type="text" id="search-query">
      </div>
      <input class="btn btn-default pull-right" id="button-fetch" type="button" name="submit" value="Search">
    </div>
  </div>

  <div id="episode-search-results">
  </div>
  
</div>
