<body id="welcome">
  <div class="container col-lg-4 col-lg-offset-4 text-center v-center" id="front-page">
    <h1 id="logo">PodList</h1>
    <p class="lead">podcast playlists made simple</p>
    <% if current_user %>
      <h3><%= current_user.name %></h3><br>
      <div class="col-md-6">
        <%= link_to "ENTER", home_index_path, class: "btn btn-lg btn-default btn-block btn-primary" %>
      </div>
      <div class="col-md-6">
        <%= link_to "LOGOUT", logout_path, method: :delete, class: "btn btn-lg btn-default btn-block btn-primary" %>
      </div>
    <% else %>
      <div class="col-sm-offset-1 col-sm-10">
        <%= link_to "LOGIN", twitter_login_path, class: "btn btn-lg btn-default btn-block btn-primary" %>
      </div>
    <% end %>
  </div>
</body>
