<body id="welcome">
  <div class="row">
    <div class="col s4 offset-s4" id="front-page">
      <h1 class="z-depth-4" id="logo">pl</h1>
      <h1>PodList</h1>
      <p class="lead">podcast playlists made simple</p>
      <% if current_user %>
        <h3><%= current_user.name %></h3><br>
        <div class="col m6">
          <%= link_to "ENTER", home_path, class: "btn btn-lg btn-default btn-block btn-primary" %>
        </div>
        <div class="col m6">
          <%= link_to "LOGOUT", logout_path, method: :delete, class: "btn btn-lg btn-default btn-block btn-primary" %>
        </div>
      <% else %>
        <div class="col s10 offset-s1">
          <%= link_to "LOGIN", login_path, class: "btn btn-lg btn-default btn-block btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</body>
