#welcome {
  background: url(image-path("top-pods.png"));
  margin-top: 50px;
  margin-bottom: 50px;
}

#front-page {
  text-align: center;
  background: rgba(255, 255, 255, .92);
  margin-top: 130px;
  padding-bottom: 30px;
}

#logo {
  border-radius: 50%;
  border: 3px solid #3f51b5;
  color: #3f51b5;
  margin-right: 150px;
  margin-left: 150px;
  padding-top: 13px;
  padding-bottom: 13px;
  background: rgba(255, 255, 255, 1);
}

#home-page {
  padding-top: 20px;
}

body {
  background-color: #fafafa;
}

.nav-wrapper {
  padding-left: 20px;
  padding-right: 20px;
  background-color: #1565c0;
}

.btn-default {
  background-color: #1565c0;
}

.playlists-head {
  text-align: center;
}

.playlist-name {
  text-align: center;
}

.title {
  color: #1565c0;
}

.delete-playlist {
  text-align: center;
}

#jquery-jplayer-1 {
}
