<%= render 'layouts/navbar' %>
<div class="container" id="home-page">
  <h1 class="playlists-head">Playlists page<h1>
  <div class="row">
    <% @playlists.each do |playlist| %>
      <div class="col m4">
        <div class="card">
          <div class="card-content">
            <span class="card-title"><h4><%= link_to "#{playlist.name}", playlist_path(playlist) %></h4></span>
            <h6>Episodes: <%= playlist.episodes.size %></h6>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
