<div id="modal-<%= episode.id %>" class="modal">
  <div class="modal-content">
    <% current_user.playlists.each do |playlist| %>
      <%= link_to "#{playlist.name}", playlist_path(playlist, {episode_id: episode.id}), method: :put %>
    <% end %>
  </div>
</div>
