<div id="modal-<%= episode.id %>" class="modal">

  <div class="modal-content">
    <div id="add-to-playlist-title">Add to a Playlist</div>
    <div id="episode-title-modal" class="truncate"><%= episode.title %></div>
    <div class="col m8 offset-m2 new-playlists">
      <% current_user.playlists.each do |playlist| %>
        <div class="button-add"><%= link_to "#{playlist.name}", playlist_path(playlist,
                 {episode_id: episode.id}), method: :put,
                  class: "waves-effect waves-light btn col m10 offset-m1 playlist-name-btn" %></div>
      <% end %>

      <form action="/playlists" id="new-playlist" method="post">
        <div class="input-field col m12" id="new-playlist-name">
          <input id="name" name="name" type="text" />
          <label for="name">Playlist Name</label>
          <input id="episode_id" name ="episode_id" type="hidden" value="<%= episode.id %>" />
        </div>
      </form>
    </div>
  </div>
</div>
